


.product-view .productviewcart .add-to-box{
    margin-top: 0px !important;
}
.repair-div{
    height: 20px;
}

.price-div{
    border-bottom: solid black 1px;
    /* filter: blur(2px); */
    font-family: Arial, sans-serif
}

.price-box{
    display: block !important;
}

.repair-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.repair-table{
    border-collapse: collapse;
    font-size: 14px;

}
.repair-table td{
    padding: 2px 6px;
}
.repair-table-label{
    color: #333;
    font-weight: 600;
    padding-right: 12px;
}
.repair-table-value{
    color: #000;
    text-align: right;
}
.repair-table-repair{
    color: #e3051b;
    font-weight: 700;
    font-size: 18px;
    border-top: solid 1px black;
}